<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RobotBaglantiProgram.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RobotBaglantiProgram.My.MySettings>
            <setting name="ASRS_Sql_Baglanti" serializeAs="String">
                <value>Server=192.168.90.240; Database=2Bee_GelalSock;User Id= gelal;Password=gelal123</value>
            </setting>
            <setting name="Deneme_Sql_Baglanti" serializeAs="String">
                <value>Server=192.168.55.240; Database=OrguPlc_Omron;User Id= sa;Password=Sa123Sa</value>
            </setting>
        </RobotBaglantiProgram.My.MySettings>
    </userSettings>
</configuration>